body {
  font-family: sans-serif;
  background-color: #000;
}

input {
  background-color: #000;
  color: #c5c3c3;
  border-radius: 8px;
  /* border: none; */
  padding: 6px 16px;
}

button {
  border-radius: 8px;
  border: none;
  padding: 4px 16px;
  margin: 0px 2px;
}

button:hover {
  background-color: #79a8a9;
  color: #fff;
  cursor: pointer;
}

li {
  margin-right: 8px;
}

/* .input-area {
  background-color: #c6e5d9;
  width: 400px;
  height: 30px;
  padding: 8px;
  margin: 8px;
  border-radius: 8px;
} */

.incomplete-area {
  color: #c5c3c3;
  border: 2px solid #aacfd8;
  width: 400px;
  min-height: 200px;
  padding: 8px;
  margin: 8px;
  border-radius: 8px;
}

.complete-area {
  background-color: #aacfd9;
  width: 400px;
  min-height: 200px;
  padding: 8px;
  margin: 8px;
  border-radius: 8px;
}

.incomplete-title {
  text-align: center;
  margin-top: 0;
  font-weight: bold;
  color: #c5c3c3;
}

.complete-title {
  text-align: center;
  margin-top: 0;
  font-weight: bold;
  color: #666;
}

.list-row {
  display: flex;
  align-items: center;
  padding-bottom: 4px;
}

.todo-item {
  margin: 6px;
}
